<dialog class="mdl-dialog">
    <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
            <input class="mdl-textfield__input" placeholder="File" type="text" id="uploadFile" readonly/>
            <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                <i class="material-icons">attach_file</i>
                <input type="file" id="uploadBtn">
            </div>
        </div>
        <form
                id="rekognition-form"
                method="POST"
                enctype="multipart/form-data"
        >
            <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
                <button type="submit" class="mdl-button">submit</button>
                <button type="reset" class="mdl-button close">cancel</button>
            </div>
        </form>
    </div>
</dialog>